
#content { 
	width:500px;
	position:relative;
	margin:auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	margin-top:30px;
}

#explain{ 
	border-top:6px solid black;
}

p { 
	line-height:25px;
	font-size:14px;
}

h2 { 
	text-align:center;
}

a:link, a:hover, a:active, a:visited { 
	color:black!important;
}

.caption { 
	text-align: right;
	margin-bottom:0px;
}

#play #flash { 
	margin-left:30px;
}

#user_nav { 
	text-align:center;
	
}

#auth { 
	margin-top:30px;
}

#auth label { 
	width:200px;
	display:block;
	float:left;
	margin-top:4px;
}
#auth input { 
	float:left;
	margin-top:4px;
}

#signup_submit { 
	clear:both;
	width:100%;
	position:relative;
	top:30px;
	height: 30px;
}

#login_submit { 
	clear:both;
	width:100%;
	position:relative;
	top:30px;
	height: 30px;
}

#errors { 
	position:relative;
	top:30px;
	color:red;	
}